{%- comment -%}
  Usage:
  {% render 'popup-with-button', popup: section.settings buttons: section.blocks below_button_html: <html_code> popup_name: string %}
{%- endcomment -%}
{% comment %} <style>
  /* Popup overlay */
    {% if popup.image != blank and popup.mobile_bg %}
      .generalPopUp-content {
        background-image: url("{{ popup.image | img_url:'master' }}");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
      .generalPopUp-info {
        background: rgba({{popup.color.rgb | replace:' ', ', '}}, 0.85);
      }
    {% endif %}
</style> {% endcomment %}
<div
  id="{{ popup_name }}"
  class="generalPopUp-overlay"
  style="display:none">
  <div class="generalPopUp-content">
    <span id="{{ popup_name }}-close" class="close generalPopUp-close ">&times;</span>
    <div class="generalPopUp-content-row">
      <div class="generalPopUp-info">
        <h2>{{ popup.heading }}</h2>
        {{ popup.content }}
        {% for button in buttons %}
          {% if button.settings.button_label != blank %}
            {% style %}
              .btn-{{ popup_name }}-popup-{{ forloop.index }} {
                background: {{ button.settings.button_bg_color }}
                 !important;
                color: {{ button.settings.button_text_color }};
                margin-top: {{ button.settings.margin_top }}
                 !important;
              }
              .btn-{{ popup_name }}-popup-{{ forloop.index }}:hover {
                background: {{ button.settings.hover_button_bg_color }}
                 !important;
                color: {{ button.settings.hover_button_text_color }}
                 !important;
              }
            {% endstyle %}
            <a
              id="{{ button.settings.button_id }}"
              class="btn btn--primary btn-{{ popup_name }}-popup-{{ forloop.index }}"
              href="{{ button.settings.button_link }}">
              {{ button.settings.button_label }}
            </a>
          {% endif %}
        {% endfor %}
        {{ below_button_html }}
      </div>
      <div class="generalPopUp-media">
        {% if popup.image != blank %}
          <img
            class="desktop-image"
            src="{{ popup.image | img_url:'master' }}"
            alt="{{ popup.image.alt }}"
            height="{{popup.image.height}}"
            width="{{popup.image.width}}">
          <img
            class="mobile-image"
            src="{{ popup.image1 | img_url:'master' }}"
            alt="{{ popup.image1.alt }}"
            height="{{popup.image1.height}}"
            width="{{popup.image1.width}}">
        {% else %}
          {{ 'product-1' | placeholder_svg_tag }}
        {% endif %}
      </div>
    </div>
  </div>
</div>