<product-form>
  {%- form 'product', product, class: 'js-product-form js-product-form-main', id: product_form_id -%}
    <input type="hidden" name="id" value="{{ current_variant.id }}" disabled>

    <div class="product-info__add-button">
      {%- capture add_to_cart_text -%}
                        {%- if product.template_suffix contains 'preorder' -%}
                          {{- 'products.product.preorder' | t -}}
                        {%- else -%}
                          {{- 'products.product.add_to_cart' | t -}}
                        {%- endif -%}
                      {%- endcapture -%}

      <button
        type="submit"
        data-add-to-cart-text="{{ add_to_cart_text | escape }}"
        class="btn {% if enable_dynamic_checkout %}btn--secondary{% else %}btn--primary{% endif %} w-full"
        name="add"
        {% if product.available == false %}
          disabled
        {% endif %}
      >
        {%- if product.available -%}
          {{- add_to_cart_text -}}
        {%- else -%}
          {{- 'products.product.sold_out' | t -}}
        {%- endif -%}
      </button>
    </div>
  {%- endform -%}
</product-form>
