{% comment %} ***** SECTION STATUS ***** {% endcomment %}
{% assign show_section = false %}
{% assign section_name = 'Brand Comparison' %}

{% if template.name == 'index'
  or template.name == 'collection'
  or template.name == 'blog'
  or template.name == 'page'
  or template.name == 'article'
%}
  {% assign show_section = true %}
{% endif %}
{% if template.name == 'product' and product.metafields.custom.product_sections != blank %}
  {% for value in product.metafields.custom.product_sections.value %}
    {% if value.section_name == section_name %}
      {% assign show_section = true %}
    {% endif %}
  {% endfor %}
{% endif %}
{% comment %} ***** SECTION STATUS ***** {% endcomment %}
{% if show_section %}
  <section class="brand-compare-sec {% if section.settings.color_scheme != 'none' %}color-scheme color-scheme--{{- section.settings.color_scheme -}}{% endif %}">
    <div class="container">
      <div class="brand-comare-title">
        <h2>{{ section.settings.heading }}</h2>
      </div>

      <div class="brand-comare-wrapper">
        <div class="brand-logos">
          {% if section.settings.logo1 != blank %}
            <div class="logo-wrapper">
              <img src="{{ section.settings.logo1 | img_url:'master' }}">
            </div>
          {% endif %}

          {% if section.settings.logo2 != blank %}
            <div class="logo-wrapper">
              <img src="{{ section.settings.logo2 | img_url:'master' }}">
            </div>
          {% endif %}

          {% if section.settings.logo3 != blank %}
            <div class="logo-wrapper">
              <img src="{{ section.settings.logo3 | img_url:'master' }}">
            </div>
          {% endif %}

          {% if section.settings.logo4 != blank %}
            <div class="logo-wrapper">
              <img src="{{ section.settings.logo4 | img_url:'master' }}">
            </div>
          {% endif %}
          {% if section.settings.logo5 != blank %}
            <div class="logo-wrapper">
              <img src="{{ section.settings.logo5 | img_url:'master' }}">
            </div>
          {% endif %}

          {% if section.settings.logo6 != blank %}
            <div class="logo-wrapper">
              <img src="{{ section.settings.logo6 | img_url:'master' }}">
            </div>
          {% endif %}
        </div>
        <div class="brand-comare-table">
          {% for block in section.blocks %}
            <div class="bct-row {% if forloop.index == 1 %}bct-head{% endif %}">
              {% if block.settings.col1 != blank %}
                <div class="bct-col">
                  <span
                    {% if block.settings.show_bdg1 %}
                      class="has-badge"
                    {% endif %}
                  >
                    {{- block.settings.col1 -}}
                  </span>
                </div>
              {% endif %}

              {% if block.settings.col2 != blank %}
                <div class="bct-col">
                  <span
                    {% if block.settings.show_bdg2 %}
                      class="has-badge"
                    {% endif %}
                  >
                    {{- block.settings.col2 -}}
                  </span>
                </div>
              {% endif %}

              {% if block.settings.col3 != blank %}
                <div class="bct-col">
                  <span
                    {% if block.settings.show_bdg3 %}
                      class="has-badge"
                    {% endif %}
                  >
                    {{- block.settings.col3 -}}
                  </span>
                </div>
              {% endif %}

              {% if block.settings.col4 != blank %}
                <div class="bct-col">
                  <span
                    {% if block.settings.show_bdg4 %}
                      class="has-badge"
                    {% endif %}
                  >
                    {{- block.settings.col4 -}}
                  </span>
                </div>
              {% endif %}

              {% if block.settings.col5 != blank %}
                <div class="bct-col">
                  <span
                    {% if block.settings.show_bdg5 %}
                      class="has-badge"
                    {% endif %}
                  >
                    {{- block.settings.col5 -}}
                  </span>
                </div>
              {% endif %}

              {% if block.settings.col6 != blank %}
                <div class="bct-col">
                  <span
                    {% if block.settings.show_bdg6 %}
                      class="has-badge"
                    {% endif %}
                  >
                    {{- block.settings.col6 -}}
                  </span>
                </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endif %}
{% schema %}
{
  "name": "Brand Comparison",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "label": "Color scheme",
      "options": [
        {
          "value": "none",
          "label": "Default"
        },
        {
          "value": "1",
          "label": "Scheme 1"
        },
        {
          "value": "2",
          "label": "Scheme 2"
        },
        {
          "value": "3",
          "label": "Scheme 3"
        },
        {
          "value": "4",
          "label": "Scheme 4"
        }
      ],
      "default": "1"
    },
    {
      "type":"text",
      "id":"heading",
      "label":"Heading"
    },
    {
      "type":"header",
      "content":"Brands"
    },
    {
      "type":"header",
      "content":"First Brand"
    },
    {
      "type":"image_picker",
      "id":"logo1",
      "label":"Logo"
    },
    {
      "type":"header",
      "content":"Second Brand"
    },
    {
      "type":"image_picker",
      "id":"logo2",
      "label":"Logo"
    },
    {
      "type":"header",
      "content":"Third Brand"
    },
    {
      "type":"image_picker",
      "id":"logo3",
      "label":"Logo"
    },
    {
      "type":"header",
      "content":"Forth Brand"
    },
    {
      "type":"image_picker",
      "id":"logo4",
      "label":"Logo"
    },
    {
      "type":"header",
      "content":"Fifth Brand"
    },
    {
      "type":"image_picker",
      "id":"logo5",
      "label":"Logo"
    }
  ],
  "blocks":[
    {
      "type":"row",
      "name":"Row",
      "settings":[
        {
          "type":"header",
          "content":"First Column"
        },
        {
          "type":"text",
          "id":"col1",
          "label": "Column"
        },
        {
          "type":"checkbox",
          "id":"show_bdg1",
          "label":"Show Badge"
        },


        {
          "type":"header",
          "content":"Second Column"
        },
        {
          "type":"text",
          "id":"col2",
          "label": "Column"
        },
        {
          "type":"checkbox",
          "id":"show_bdg2",
          "label":"Show Badge"
        },


        {
          "type":"header",
          "content":"Third Column"
        },
        {
          "type":"text",
          "id":"col3",
          "label": "Column"
        },
        {
          "type":"checkbox",
          "id":"show_bdg3",
          "label":"Show Badge"
        },

        {
          "type":"header",
          "content":"Forth Column"
        },
        {
          "type":"text",
          "id":"col4",
          "label": "Column"
        },
        {
          "type":"checkbox",
          "id":"show_bdg4",
          "label":"Show Badge"
        },
        {
          "type":"header",
          "content":"Fifth Column"
        },
        {
          "type":"text",
          "id":"col5",
          "label": "Column"
        },
        {
          "type":"checkbox",
          "id":"show_bdg5",
          "label":"Show Badge"
        },


        {
          "type":"header",
          "content":"Sixth Column"
        },
        {
          "type":"text",
          "id":"col6",
          "label": "Column"
        },
        {
          "type":"checkbox",
          "id":"show_bdg6",
          "label":"Show Badge"
        },
      ]
    }
  ]
}
{% endschema %}
