{%- liquid
  assign form_id = section.id | append: '-contact'
-%}

<section class="detail-contact-form">
  <div class="container">
    <div class="detail-form-row">
      <div class="form-content">
        {% if section.settings.title != blank %}
          <h2>{{ section.settings.title }}</h2>
        {% endif %}

        <div class="contact-details-row">
          {% if section.settings['contact-detail01'] != blank %}
            <div class="contact-detail">
              {{ section.settings['contact-detail01'] }}
            </div>
          {% endif %}
          {% if section.settings['contact-detail02'] != blank %}
            <div class="contact-detail">
              {{ section.settings['contact-detail02'] }}
            </div>
          {% endif %}
          {% if section.settings['contact-detail03'] != blank %}
            <div class="contact-detail">
              {{ section.settings['contact-detail03'] }}
            </div>
          {% endif %}
          {% if section.settings['contact-detail04'] != blank %}
            <div class="contact-detail">
              {{ section.settings['contact-detail04'] }}
            </div>
          {% endif %}
        </div>
        {% if section.settings.note != blank %}
          <div class="note">
            <span>{{ section.settings.note }}</span>
          </div>
        {% endif %}
      </div>
      <div class="Contact_form">
        <div class="form-title">
          <img src="{{ section.settings.icon | img_url:'master'}}" alt="">
          <h3>{{ section.settings['contact-title'] }}</h3>
        </div>

        {%- form 'contact', id: form_id, class: 'form reading-width' -%}
          <div
            class="form__grid grid grid-cols-2 gap-x-theme gap-y-6"
            {% if settings.animations_enabled != 'disabled' %}
              data-cc-animate
            {% endif %}
          >
            {%- for block in section.blocks -%}
              <div
                class="col-span-2{% if block.settings.half_width %} md:col-span-1{% endif %}{% if block.settings.required %} is-required{% endif %}"
                {{ block.shopify_attributes }}
              >
                {%- case block.type -%}
                    <div>
                  {%- when 'first-name' -%}
                    <label class="label" for="{{ form_id }}-first-name">Your Name</label>
                    <input
                      type="text"
                      class="input w-full"
                      id="{{ form_id }}-name"
                      name="contact[{{ 'contact.form.first-name' | t }}]"
                      autocomplete="first-name"
                      placeholder="{{ 'contact.form.first-name' | t }}"
                      value="{% if form.first-name %}{{ form.first-name }}{% elsif customer %}{{ customer.name }}{% endif %}"
                      {%- if block.settings.required %}
                        aria-required="true"
                        required
                      {%- endif %}
                    >

                  {%- when 'last-name' -%}
                    <input
                      type="text"
                      class="input w-full"
                      id="{{ form_id }}-name"
                      name="contact[{{ 'contact.form.last-name' | t }}]"
                      autocomplete="last-name"
                      placeholder="{{ 'contact.form.last-name' | t }}"
                      value="{% if form.last-name %}{{ form.last-name }}{% elsif customer %}{{ customer.name }}{% endif %}"
                      {%- if block.settings.required %}
                        aria-required="true"
                        required
                      {%- endif %}
                    >

                    </div>
                  {%- when 'email' -%}
                    <label class="label" for="{{ form_id }}-email">{{ 'contact.form.email' | t }}</label>
                    <input
                      type="email"
                      class="input w-full"
                      id="{{ form_id }}-email"
                      name="contact[email]"
                      autocomplete="email"
                      placeholder="i.e. johndoe@email.com"
                      value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                      {%- if form.errors contains 'email' %}
                        aria-invalid="true"
                        aria-describedby="{{ form_id }}-email-error"
                      {%- endif %}
                      {%- if block.settings.required %}
                        aria-required="true"
                        required
                      {%- endif %}
                    >

                  {%- when 'phone' -%}
                    <label class="label" for="{{ form_id }}-phone">{{ 'contact.form.phone' | t }}</label>

                    <input
                      type="tel"
                      class="input w-full"
                      id="{{ form_id }}-phone"
                      name="contact[{{ 'contact.form.phone' | t }}]"
                      pattern="[0-9\-]*"
                      autocomplete="tel"
                      placeholder=""
                      value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
                      {%- if block.settings.required %}
                        aria-required="true"
                        required
                      {%- endif %}
                    >

                  {%- when 'body' -%}
                    <label class="label" for="{{ form_id }}-body">{{ 'contact.form.message' | t }}</label>
                    <textarea
                      class="input w-full"
                      id="{{ form_id }}-body"
                      name="contact[{{ 'contact.form.message' | t }}]"
                      placeholder="Let us know how we can help"
                      rows="8"
                      {%- if block.settings.required %}
                        aria-required="true"
                        required
                      {%- endif -%}
                    >
                  {{- form.body -}}
                </textarea>
                  {% when 'social_handles' %}
                    <div class="social-handles-wrapper is-required">
                      <label class="label">{{ block.settings.social_label }}</label>
                      <div class="social_handle">
                        <span class="social-icon">
                          {%- render 'icon-instagram' -%}
                        </span>
                        <input
                          type="url"
                          class="input w-full"
                          id="{{ form_id }}-instagram"
                          name="contact[instagram_link]"
                          placeholder="Enter Instagram Link"
                          value=""
                          {%- if block.settings.insta_required %}
                            aria-required="true"
                            required
                          {%- endif %}
                        >
                      </div>

                      <div class="social_handle">
                        <span class="social-icon">
                          {%- render 'icon-facebook' -%}
                        </span>
                        <input
                          type="url"
                          class="input w-full"
                          id="{{ form_id }}-facebook"
                          name="contact[facebook_link]"
                          placeholder="Enter Facebook Link"
                          value=""
                          {%- if block.settings.facebook_required %}
                            aria-required="true"
                            required
                          {%- endif %}
                        >
                      </div>

                      <div class="social_handle">
                        <span class="social-icon">
                          {%- render 'icon-tiktok' -%}
                        </span>
                        <input
                          type="url"
                          class="input w-full"
                          id="{{ form_id }}-tiktok"
                          name="contact[tiktok_link]"
                          placeholder="Enter TikTok Link"
                          value=""
                          {%- if block.settings.tiktok_required %}
                            aria-required="true"
                            required
                          {%- endif %}
                        >
                      </div>
                      <div class="social_handle">
                        <span class="social-icon">
                          {%- render 'icon-youtube' -%}
                        </span>
                        <input
                          type="url"
                          class="input w-full"
                          id="{{ form_id }}-youtube"
                          name="contact[youtube_link]"
                          placeholder="Enter Youtube Link"
                          value=""
                          {%- if block.settings.tiktok_required %}
                            aria-required="true"
                            required
                          {%- endif %}
                        >
                      </div>
                      <div class="social_handle">
                        <span class="social-icon">
                          {%- render 'icon-globe' -%}
                        </span>
                        <input
                          type="url"
                          class="input w-full"
                          id="{{ form_id }}-personal-site"
                          name="contact[personal_site_link]"
                          placeholder="Enter personal website Link"
                          value=""
                          {%- if block.settings.personal_web_link_required %}
                            aria-required="true"
                            required
                          {%- endif %}
                        >
                      </div>
                    </div>

                  {%- when 'custom' -%}
                    {%- if block.settings.title != blank -%}
                      {%- assign field_handle = block.settings.title | handleize -%}
                      <label class="label" for="{{ form_id }}-field-{{ forloop.index }}">
                        {{- block.settings.title -}}
                      </label>
                      {%- if block.settings.type == 'textarea' -%}
                        <textarea
                          class="input w-full"
                          id="{{ form_id }}-field-{{ forloop.index }}"
                          name="contact[{{ field_handle }}]"
                          rows="8"
                          {%- if block.settings.required %}
                            aria-required="true"
                            required
                          {%- endif -%}
                        >
                      {{- form[field_handle] -}}
                    </textarea>
                      {%- else -%}
                        <input
                          type="{{ block.settings.type }}"
                          class="input w-full"
                          id="{{ form_id }}-field-{{ forloop.index }}"
                          name="contact[{{ field_handle }}]"
                          value="{{ form[field_handle] }}"
                          {% if block.settings.placeholder %}
                            placeholder="{{ block.settings.placeholder }}"
                          {%- endif -%}
                          {%- if block.settings.type == 'tel' %}
                            pattern="[0-9\-]*"
                          {% endif %}
                          {%- if block.settings.required %}
                            aria-required="true"
                            required
                          {%- endif %}
                        >
                      {%- endif -%}
                    {%- endif -%}

                  {%- when 'dropdown' -%}
                    {%- if block.settings.title != blank -%}
                      {%- liquid
                        assign field_handle = block.settings.title | handleize
                        assign field_options = block.settings.options | newline_to_br | strip_newlines | split: '<br />'
                        assign native_name = 'contact[' | append: field_handle | append: ']'
                        assign selected_value = form[field_handle] | default: field_options.first
                      -%}
                      <label class="label" for="{{ form_id }}-field-{{ forloop.index }}">
                        {{- block.settings.title -}}
                      </label>
                      <div class="select relative">
                        <select
                          class="w-full input"
                          name="{{ native_name }}"
                          id="{{ form_id }}-field-{{ forloop.index }}"
                        >
                          {% for option in field_options %}
                            <option
                              value="{{ option | escape }}"
                              {% if option == selected_value %}
                                selected
                              {% endif %}
                            >
                              {{ option }}
                            </option>
                          {% endfor %}
                        </select>
                      </div>
                    {%- endif -%}

                  {%- when 'text' -%}
                    {%- if block.settings.text != blank -%}
                      <div class="w-full rte">
                        {{ block.settings.text }}
                      </div>
                    {%- endif -%}

                  {%- when 'radio' -%}
                    {%- liquid
                        assign field_handle = block.settings.title | handleize
                        assign field_options = block.settings.options | newline_to_br | strip_newlines | split: '<br />'
                        assign native_name = 'contact[' | append: field_handle | append: ']'
                    -%}
                    {%- if block.settings.title != blank -%}
                      <label class="label" for="{{ form_id }}-radio-{{ forloop.index }}">
                        {{- block.settings.title -}}
                      </label>
                      
                      <div class="form-radio">
                        <ul role="list">
                          {%- for option in field_options -%}
                              <li class="radio-item">
                                <input type="radio"
                                        class="checkbox js-drawer-sort-by"
                                        id="{{ form_id }}-radio-{{ forloop.index }}"
                                        name="{{ native_name }}"
                                        value="{{ option | escape }}"
                                        {%- if block.settings.required %}
                                          aria-required="true"
                                          required
                                        {%- endif %}>
                                <label for="{{ form_id }}-radio-{{ forloop.index }}" class="flex items-start w-full m-0">
                                  <span class="flex-auto" style="font-weight: 600;">{{- option | escape -}}</span>
                                </label>
                              </li>         
                          {%- endfor -%}
                        </ul>
                      </div>
                    {% endif %}
                    
                
                {%- endcase -%}

                {%- if form.errors contains block.type -%}
                  <p class="form__field-error" id="{{ form_id }}-{{ block.type }}-error">
                    {{ form.errors.translated_fields[block.type] | capitalize }}
                    {{ form.errors.messages[block.type] }}
                  </p>
                {%- endif -%}
              </div>
            {%- endfor -%}
          </div>

          {%- if form.posted_successfully? -%}
            <div
              class="alert mt-8 bg-success-bg text-success-text"
              tabindex="-1"
              autofocus
              {% if settings.animations_enabled != 'disabled' %}
                data-cc-animate
              {% endif %}
            >
              {{ 'contact.form.post_success' | t }}
            </div>
          {%- elsif form.errors -%}
            <div
              class="alert mt-8 bg-error-bg text-error-text"
              tabindex="-1"
              autofocus
              {% if settings.animations_enabled != 'disabled' %}
                data-cc-animate
              {% endif %}
            >
              <h2 class="h5 text-current">{{ 'contact.form.error_heading' | t }}</h2>
              <ul class="styled-list">
                <li>
                  <a class="link text-current" href="#{{ form_id }}-email">
                    {{- form.errors.translated_fields.email | capitalize }}
                    {{ form.errors.messages.email -}}
                  </a>
                </li>
              </ul>
            </div>
          {%- endif -%}

          {%- if section.blocks.size > 0 -%}
            <div
              class="mt-6"
              {% if settings.animations_enabled != 'disabled' %}
                data-cc-animate
              {% endif %}
            >
              <button class="{{ section.settings.button_style }} w-full md:w-auto">
                {% if section.settings.submit_btn_label == blank -%}
                  Send it to our experts
                {%- else -%}
                  {{- section.settings.submit_btn_label -}}
                {%- endif %}
              </button>
            </div>
          {%- endif -%}
        {%- endform -%}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Content With Form",
  "settings": [
    {
      "type": "text",
      "id": "contact-title",
      "label": "Heading",
    },
    {
      "type": "image_picker",
      "id": "icon",
      "label": "Heading Icon"
    },
    {
      "type": "header",
      "content": "Contact Details"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
    },
    {
      "type": "richtext",
      "id": "contact-detail01",
      "label":"Add your contact detail"
    },
    {
      "type": "richtext",
      "id": "contact-detail02",
      "label":"Add your contact detail"
    },
    {
      "type": "richtext",
      "id": "contact-detail03",
      "label":"Add your contact detail"
    },
    {
      "type": "richtext",
      "id": "contact-detail04",
      "label":"Add your contact detail"
    },
    {
      "type": "text",
       "id": "note",
        "label": "Note For user",
    },
    {
      "type":"text",
      "id":"submit_btn_label",
      "label":"Submit Button Label"
    }
  ],
   "blocks": [
  {
    "type": "first-name",
    "name": "First-Name",
    "limit": 1,
    "settings": [
      {
        "type": "checkbox",
        "id": "required",
        "label": "Required",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "half_width",
        "label": "Half width on large screens",
        "default": false
      }
    ]
  },
  {
    "type": "last-name",
    "name": "Last-Name",
    "limit": 1,
    "settings": [
      {
        "type": "checkbox",
        "id": "required",
        "label": "Required",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "half_width",
        "label": "Half width on large screens",
        "default": false
      }
    ]
  },
  {
    "type": "email",
    "name": "Email",
    "limit": 1,
    "settings": [
      {
        "type": "paragraph",
        "content": "REQUIRED - Contact form will not work if this block is removed."
      },
      {
        "type": "checkbox",
        "id": "required",
        "label": "Required",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "half_width",
        "label": "Half width on large screens",
        "default": false
      }
    ]
  },
  {
    "type": "phone",
    "name": "Phone",
    "limit": 1,
    "settings": [
      {
        "type": "checkbox",
        "id": "required",
        "label": "Required",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "half_width",
        "label": "Half width on large screens",
        "default": false
      }
    ]
  },
  {
    "type": "body",
    "name": "Message",
    "limit": 1,
    "settings": [
      {
        "type": "checkbox",
        "id": "required",
        "label": "Required",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "half_width",
        "label": "Half width on large screens",
        "default": false
      }
    ]
  },
  {
    "type": "custom",
    "name": "Custom input",
    "settings": [
      {
        "type": "paragraph",
        "content": "Custom inputs require a label, and that label may only be used once in the form."
      },
      {
        "type": "text",
        "id": "title",
        "label": "Label",
        "default": "Custom input"
      },
      {
        "type": "text",
        "id": "placeholder",
        "label": "Placeholder",
        "default": "placeholder"
      },
      {
        "type": "select",
        "id": "type",
        "label": "Input type",
        "options": [
          {
            "value": "text",
            "label": "Text (single line)"
          },
          {
            "value": "textarea",
            "label": "Text (multi line)"
          },
          {
            "value": "email",
            "label": "Email"
          },
          {
            "value": "tel",
            "label": "Phone"
          },
          {
            "value": "number",
            "label": "Number"
          },
          {
            "value": "url",
            "label": "URL"
          }
        ],
        "default": "text"
      },
      {
        "type": "checkbox",
        "id": "required",
        "label": "Required",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "half_width",
        "label": "Half width on large screens",
        "default": false
      }
    ]
  },
  {
    "type": "dropdown",
    "name": "Dropdown",
    "settings": [
      {
        "type": "paragraph",
        "content": "Dropdowns require a label, and that label may only be used once in the form."
      },
      {
        "type": "text",
        "id": "title",
        "label": "Label",
        "default": "Dropdown"
      },
      {
        "type": "textarea",
        "id": "options",
        "label": "Options",
        "info": "One option per line.",
        "default": "Option 1\nOption 2\nOption 3"
      },
      {
        "type": "checkbox",
        "id": "half_width",
        "label": "Half width on large screens",
        "default": false
      }
    ]
  },
  {
    "type": "radio",
    "name": "Radio",
    "settings": [
      {
        "type": "checkbox",
        "id": "required",
        "label": "Required",
        "default": true
      },
      {
        "type": "paragraph",
        "content": "Radios require a label, and that label may only be used once in the form."
      },
      {
        "type": "text",
        "id": "title",
        "label": "Label",
        "default": "Radio"
      },
      {
        "type": "textarea",
        "id": "options",
        "label": "Options",
        "info": "One option per line.",
        "default": "Option 1\nOption 2\nOption 3"
      }
    ]
  },
  {
    "type": "text",
    "name": "Text",
    "settings": [
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Text content</p>"
      },
      {
        "type": "checkbox",
        "id": "half_width",
        "label": "Half width on large screens",
        "default": false
      }
    ]
  },
  {
    "type":"social_handles",
    "name":"Social Handles",
    "limit": 1,
    "settings": [
      {
        "type":"text",
        "id":"social_label",
        "label":"Fields Label"
      },
      {
        "type":"header",
        "content": "Required Fields"
      },
      {
        "type":"checkbox",
        "id": "insta_required",
        "label": "Instagram Link Required"
      },
      {
        "type":"checkbox",
        "id": "facebook_required",
        "label": "Facebook Link Required"
      },
      {
        "type":"checkbox",
        "id": "tiktok_required",
        "label": "Tiktok Link Required"
      },
      {
        "type":"checkbox",
        "id": "youtube_required",
        "label": "Youtube Link Required"
      },
      {
        "type":"checkbox",
        "id": "personal_web_link_required",
        "label": "Personal Website Link Required"
      }
    ]
  }
],
  "presets": [
    {
      "name": "Content With Form",
    }
  ]
}
{% endschema %}
