{% comment %} ***** SECTION STATUS ***** {% endcomment %}
{% assign show_section = false %}
{% assign section_name = 'Collapsible content' %}

{% if template.name == 'index'
  or template.name == 'collection'
  or template.name == 'blog'
  or template.name == 'page'
  or template.name == 'article'
%}
  {% assign show_section = true %}
{% endif %}
{% if template.name == 'product' and product.metafields.custom.product_sections != blank %}
  {% for value in product.metafields.custom.product_sections.value %}
    {% if value.section_name == section_name %}
      {% assign show_section = true %}
    {% endif %}
  {% endfor %}
{% endif %}
{% comment %} ***** SECTION STATUS ***** {% endcomment %}

{% if show_section %}
  {% style %}
    #{{section.id}}.faqs-section{
      padding:{{section.settings.top_padding}}px 0px {{section.settings.bottom_padding}}px;
    }
    @media only screen and (max-width:1200px){
      #{{section.id}}.faqs-section{
        padding:{{section.settings.top_padding | times:0.8}}px 0px {{section.settings.bottom_padding | times:0.8}}px;
      }
    }
    @media only screen and (max-width:1024px){
      #{{section.id}}.faqs-section{
        padding:{{section.settings.top_padding | times:0.75}}px 0px {{section.settings.bottom_padding | times:0.75}}px;
      }
    }
    @media only screen and (max-width:768px){
      #{{section.id}}.faqs-section{
        padding:{{section.settings.top_padding | times:0.5}}px 0px {{section.settings.bottom_padding | times: 0.5}}px;
      }
    }
    @media only screen and (max-width:575px){
      #{{section.id}}.faqs-section{
        padding:{{section.settings.top_padding | times:0.4}}px 0px {{section.settings.bottom_padding | times: 0.4}}px;
      }
    }
  {% endstyle %}
  {%- liquid
    assign color_scheme = section.settings.color_scheme
    assign bg_color = false

    if color_scheme == '1'
      assign bg_color = settings.color_scheme_1_bg
    elsif color_scheme == '2'
      assign bg_color = settings.color_scheme_2_bg
    elsif color_scheme == '3'
      assign bg_color = settings.color_scheme_3_bg
    endif

    if bg_color == settings.bg_color or bg_color == 'rgba(0,0,0,0)'
      assign bg_color = false
    endif

    assign all_headings_empty = true

    for block in section.blocks
      if block.settings.heading != blank
        assign all_headings_empty = false
      endif
    endfor
  -%}

  {%- unless all_headings_empty -%}
    {%- unless section.settings.full_width -%}
      <div class="container">
    {%- endunless -%}

    <div
      class="section faqs-section {% unless bg_color == false %} section--padded{% if section.settings.full_width %} section--full-width{% endif %}{% endunless %} {% if section.settings.remove_spacing %}vs-0{% endif %}"
      id="{{ section.id }}"
    >
      <div class="container {% unless color_scheme == 'none' %} color-scheme color-scheme--{{ color_scheme }}{% endunless %}{% if section.settings.enable_fw %} faq-fw{% endif %}">
        <div
          class="{% unless section.settings.enable_fw %}reading-width{% endunless %}"
          {% if settings.animations_enabled != 'disabled' %}
            data-cc-animate
          {% endif %}
        >
          {%- if section.settings.heading != blank -%}
            <h2 class="{% if section.settings.heading_size == '1' %}h4{% else %}h5{% endif %} section__heading mb-12 {{ section.settings.heading_align }}">
              {{ section.settings.heading | escape }}
            </h2>
          {%- endif -%}

          {%- for block in section.blocks -%}
            {%- if block.type == 'category' -%}
              <h3
                class="text-h5 xs:text-h6 font-body font-bold{% unless forloop.first %} mt-16{% endunless %} mb-6"
                {{ block.shopify_attributes }}
              >
                {{ block.settings.text }}
              </h3>
            {%- elsif block.type == 'button' -%}
              <div class="{% unless forloop.first %} mt-6{% endunless %} mb-6" {{ block.shopify_attributes }}>
                <a
                  class="{{ block.settings.button_style }}"
                  {% if block.settings.button_link != blank %}
                    href="{{ block.settings.button_link }}"
                  {% else %}
                    role="link" aria-disabled="true"
                  {% endif %}
                >
                  {{- block.settings.button_label | escape -}}
                </a>
              </div>
            {%- elsif block.settings.heading != blank -%}
              <details-disclosure>
                <details class="disclosure disclosure--row">
                  <summary>
                    <div class="flex justify-between items-center">
                      <h4 class="disclosure__title xs:regular-text h6 font-body flex flex-auto items-center mb-0 text-current">
                        {%- if block.settings.icon != 'none' -%}
                          {% render 'icon', icon: block.settings.icon, width: '1.2em', height: '1.2em' %}
                        {%- endif -%}
                        {{- block.settings.heading -}}
                      </h4>
                      <span class="disclosure__toggle">
                        {%- if settings.disclosure_toggle == 'plus' -%}
                          {% render 'icon-plus' %}
                        {%- else -%}
                          {% render 'icon-chevron-down' %}
                        {%- endif -%}
                      </span>
                    </div>
                  </summary>
                  <div class="disclosure__panel has-motion">
                    <div class="disclosure__content rte {% if block.settings.tabular_style %}d-flex{% endif %}">
                      {{ block.settings.text }}
                    </div>
                  </div>
                </details>
              </details-disclosure>
            {%- endif -%}
          {%- endfor -%}
        </div>
      </div>
    </div>

    {%- unless section.settings.full_width -%}
      </div>
    {%- endunless -%}
  {%- endunless -%}

  <script type="application/ld+json">
    {%- capture faq_json -%}
      {%- for block in section.blocks -%}
        {%- if block.settings.heading != blank and block.settings.text != blank -%}
          {
            "@type": "Question",
            "name": {{ block.settings.heading | json }},
            "acceptedAnswer": {
              "@type": "Answer",
              "text": {{ block.settings.text | json }}
            }
          },
        {%- endif -%}
      {%- endfor -%}
    {%- endcapture -%}
    {
      "@context": "https://schema.org",
      "@type": "FAQPage",
      "mainEntity": [
        {{ faq_json | remove_last: ',' }}
      ]
    }
  </script>
{% endif %}
{% schema %}
{
  "name": "Collapsible content",
  "tag": "section",
  "class": "cc-faq",
  "settings": [
    {
      "type": "header",
      "content": "Section header"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Frequently Asked Questions"
    },
    {
      "type": "select",
      "id": "heading_align",
      "label": "Heading alignment",
      "options": [
        {
          "value": "text-start",
          "label": "Left"
        },
        {
          "value": "text-center",
          "label": "Center"
        },
        {
          "value": "text-end",
          "label": "Right"
        }
      ],
      "default": "text-center"
    },
    {
      "type":"select",
      "id":"heading_size",
      "label":"Heading Size",
      "options":[
        {
          "value":"1",
          "label":"Heading Size 1"
        },
        {
          "value":"2",
          "label":"Heading Size 2"
        }
      ],
      "default":"1"
    },
    {
      "type": "header",
      "content": "Style"
    },
    {
      "type": "select",
      "id": "color_scheme",
      "label": "Color scheme",
      "options": [
        {
          "value": "none",
          "label": "Default"
        },
        {
          "value": "1",
          "label": "Scheme 1"
        },
        {
          "value": "2",
          "label": "Scheme 2"
        },
        {
          "value": "3",
          "label": "Scheme 3"
        },
        {
          "value": "4",
          "label": "Scheme 4"
        }
      ],
      "default": "1"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Make section background full width",
      "default": true
    },
    {
      "type":"header",
      "content": "Section Layout"
    },
    {
      "type":"checkbox",
      "id":"enable_fw",
      "label":"Full Width"
    },
    {
      "type":"header",
      "content":"Section Padding"
    },
    {
      "type":"range",
      "id":"top_padding",
      "label": "Top Padding",
      "min":0,
      "max":170,
      "step": 10,
      "unit": "px",
      "default":170
    },
    {
      "type":"range",
      "id":"bottom_padding",
      "label": "Top Padding",
      "min":0,
      "max":170,
      "unit": "px",
      "step": 10,
      "default":170
    }
  ],
  "blocks": [
    {
      "type": "question",
      "name": "Collapsible item",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "Icon",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "award",
              "label": "Award"
            },
            {
              "value": "box",
              "label": "Box"
            },
            {
              "value": "briefcase",
              "label": "Briefcase"
            },
            {
              "value": "calendar",
              "label": "Calendar"
            },
            {
              "value": "chat_bubble",
              "label": "Chat bubble"
            },
            {
              "value": "check_mark",
              "label": "Check mark"
            },
            {
              "value": "check_mark_in_circle",
              "label": "Check mark in circle"
            },
            {
              "value": "clock",
              "label": "Clock"
            },
            {
              "value": "credit_card",
              "label": "Credit card"
            },
            {
              "value": "dollar_sign",
              "label": "Dollar sign"
            },
            {
              "value": "dryer",
              "label": "Dryer"
            },
            {
              "value": "email",
              "label": "Email"
            },
            {
              "value": "eye",
              "label": "Eye"
            },
            {
              "value": "feather",
              "label": "Feather"
            },
            {
              "value": "gift",
              "label": "Gift"
            },
            {
              "value": "heart",
              "label": "Heart"
            },
            {
              "value": "iron",
              "label": "Iron"
            },
            {
              "value": "leaf",
              "label": "Leaf"
            },
            {
              "value": "leather",
              "label": "Leather"
            },
            {
              "value": "lock",
              "label": "Lock"
            },
            {
              "value": "map_pin",
              "label": "Map pin"
            },
            {
              "value": "pants",
              "label": "Pants"
            },
            {
              "value": "percent",
              "label": "Percent"
            },
            {
              "value": "phone",
              "label": "Phone"
            },
            {
              "value": "plane",
              "label": "Plane"
            },
            {
              "value": "price_tag",
              "label": "Price tag"
            },
            {
              "value": "question_mark",
              "label": "Question mark"
            },
            {
              "value": "return",
              "label": "Return"
            },
            {
              "value": "ruler",
              "label": "Ruler"
            },
            {
              "value": "scissors",
              "label": "Scissors"
            },
            {
              "value": "shirt",
              "label": "Shirt"
            },
            {
              "value": "shoe",
              "label": "Shoe"
            },
            {
              "value": "silhouette",
              "label": "Silhouette"
            },
            {
              "value": "star",
              "label": "Star"
            },
            {
              "value": "truck",
              "label": "Truck"
            },
            {
              "value": "washing",
              "label": "Washing"
            }
          ],
          "default": "none"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Frequently asked question"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Content",
          "default": "<p>Provide an answer to the question here, with as much detail as possible to help your customers.</p>"
        },
        {
          "type":"checkbox",
          "id":"tabular_style",
          "label":"Enable Tabular/Column Style"
        }
      ]
    },
    {
      "type": "category",
      "name": "Category",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Category title",
          "default": "Category"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default": "Button"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button style",
          "options": [
            {
              "value": "link",
              "label": "Link"
            },
            {
              "value": "btn btn--primary",
              "label": "Primary button"
            },
            {
              "value": "btn btn--secondary",
              "label": "Secondary button"
            }
          ],
          "default": "btn btn--secondary"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collapsible content",
      "blocks": [
        {
          "type": "category",
          "settings": {
            "text": "Shipping"
          }
        },
        {
          "type": "question",
          "settings": {
            "heading": "What countries do you ship to?",
            "text": "<p>We currently ship to the United States, Canada, Australia and the UK. To enquire about shipping to a different destination, please contact us.</p>"
          }
        },
        {
          "type": "question",
          "settings": {
            "heading": "How long will it take to receive my order?",
            "text": "<p>Standard shipping normally takes 3-5 days. Next day shipping is available on all domestic orders (for an additional charge). International shipping times depend on the products and destination (estimated at checkout).</p>"
          }
        },
        {
          "type": "category",
          "settings": {
            "text": "Returns and Refunds"
          }
        },
        {
          "type": "question",
          "settings": {
            "heading": "How do I return a product?",
            "text": "<p>Items must be returned within 30 days after receiving your order. Items must be returned in the same condition in which they were received, be unworn/unused, have any tags still attached, and include all the original packaging.</p>"
          }
        },
        {
          "type": "question",
          "settings": {
            "heading": "How long will it take to receive my refund?",
            "text": "<p>Refunds are processed within 7 days from when we receive the item(s).</p>"
          }
        }
      ]
    }
  ],
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "aside"
    ]
  }
}
{% endschema %}
