{% if section.settings.sugg_image != blank %}
  {% style %}
    #{{section.id}} .suggestion-card-wrapper{
      background-image:url("{{ section.settings.sugg_image | img_url:'master' }}");
    }
  {% endstyle %}
{% endif %}
{%- if section.index > 2 -%}
  <link rel="stylesheet" href="{{ 'featured-collection.css' | asset_url }}" media="print" onload="this.media='all'">
  <link rel="stylesheet" href="{{ 'product.css' | asset_url }}" media="print" onload="this.media='all'">
{%- else -%}
  {{ 'featured-collection.css' | asset_url | stylesheet_tag }}
  {{ 'product.css' | asset_url | stylesheet_tag }}
{%- endif -%}
{%- liquid
  if settings.prod_card_image_ratio == 'shortest'
    assign image_ratio = 0
    for product in collection.products limit: section.settings.products_to_show
      if product.featured_media.preview_image.aspect_ratio > image_ratio
        assign image_ratio = product.featured_media.preview_image.aspect_ratio
      endif
    endfor
  elsif settings.prod_card_image_ratio == 'tallest'
    assign image_ratio = 99
    for product in collection.products limit: section.settings.products_to_show
      if product.featured_media.preview_image.aspect_ratio < image_ratio
        assign image_ratio = product.featured_media.preview_image.aspect_ratio
      endif
    endfor
  else
    assign image_ratio = settings.prod_card_image_ratio
  endif

  assign color_scheme = section.settings.color_scheme
-%}
<div class="section products-card-sec color-scheme color-scheme--{{ color_scheme }}" id="{{ section.id }}">
  <div class="container">
    {%- if section.settings.heading != blank -%}
      <div
        class="section__header gap-x-theme"
        {% if settings.animations_enabled != 'disabled' %}
          data-cc-animate
        {% endif %}
      >
        {%- if section.settings.heading != blank -%}
          <h2 class="h2 mb-3  text-center">
            {{- section.settings.heading | escape -}}
          </h2>
        {%- endif -%}
      </div>
    {%- endif -%}

    <div class="products-grid-container shrink-0">
      <ul class="productMobileSlider grid gap-x-theme gap-y-8" role="list">
        {% if section.settings.product1 != blank %}
          <li
            {% if settings.animations_enabled != 'disabled' %}
              data-cc-animate data-cc-animate-delay="{{ 1 | times: 0.07 }}s"
            {% endif %}
          >
            {% render 'product-card',
              product: section.settings.product1,
              image_ratio: image_ratio,
              enable_vendor: section.settings.enable_vendor,
              card_tag: section.settings.product_tag1,
              enable_quick_add: section.settings.enable_show_modal_btn,
              btn_label: section.settings.btn_label
            %}
          </li>
        {% endif %}

        {% if section.settings.product2 != blank %}
          <li
            {% if settings.animations_enabled != 'disabled' %}
              data-cc-animate data-cc-animate-delay="{{ 2 | times: 0.07 }}s"
            {% endif %}
          >
            {% render 'product-card',
              product: section.settings.product2,
              image_ratio: image_ratio,
              enable_vendor: section.settings.enable_vendor,
              card_tag: section.settings.product_tag2,
              enable_quick_add: section.settings.enable_show_modal_btn,
              btn_label: section.settings.btn_label
            %}
          </li>
        {% endif %}

        {% if section.settings.product3 != blank %}
          <li
            {% if settings.animations_enabled != 'disabled' %}
              data-cc-animate data-cc-animate-delay="{{ 3 | times: 0.07 }}s"
            {% endif %}
          >
            {% render 'product-card',
              product: section.settings.product3,
              image_ratio: image_ratio,
              enable_vendor: section.settings.enable_vendor,
              card_tag: section.settings.product_tag3,
              enable_quick_add: section.settings.enable_show_modal_btn,
              btn_label: section.settings.btn_label
            %}
          </li>
        {% endif %}

        {% if section.settings.show_card %}
          <li class="suggestion-card">
            <div class="suggestion-card-wrapper">
              <div class="suggestion-card-cntnt">
                <h3>{{ section.settings.sugg_heading }}</h3>
                {{ section.settings.sugg_content }}
                {% if section.settings.sugg_btn_label != blank %}
                  <div class="card_redirect">
                    <a
                      {% if section.settings.open_email %}
                        href="{{- section.settings.sugg_btn_link -}}?subject=Help%20me%20find%20my%20perfect%20sauna&body=Hi%20Salus%20Saunas,%0D%0DI%20need%20your%20help%20deciding%20which%20sauna%20model%20that’s%20most%20suitable%20for%20my%20needs!"
                      {% else %}
                        href="{{ section.settings.sugg_btn_link }}"
                      {% endif %}
                      target="_top"
                    >
                      {{- section.settings.sugg_btn_label -}}
                    </a>
                    <a
                      id="copyButton"
                      href=""                    
                    >{{ section.settings.sugg_btn_label1 }}</a>
                    <input
                      type="text"
                      id="copyValue"
                      value={{section.settings.phone_number}}
                      readonly
                      class="hidden">
                  </div>
                {% endif %}
              </div>
            </div>
          </li>
        {% endif %}
      </ul>
      <div class="progress">
        <div class="progress-bar"></div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Products Card Section",
  "settings": [
    {
      "type":"text",
      "id":"heading",
      "label":"Heading"
    },
    {
      "type":"product_list",
      "id":"products",
      "label": "Select Products"
    },
    {
      "type":"header",
      "content": "Products"
    },
    {
      "type":"header",
      "content":"First Product"
    },
    {
      "type":"product",
      "id":"product1",
      "label":"Product"
    },
    {
      "type":"text",
      "id":"product_tag1",
      "label":"Product Tag"
    },
    {
      "type":"header",
      "content": "Second Product"
    },
    {
      "type":"product",
      "id":"product2",
      "label":"Product"
    },
    {
      "type":"text",
      "id":"product_tag2",
      "label": "Product Tag"
    },
    {
      "type": "header",
      "content":"Third Product"
    },
    {
      "type":"product",
      "id":"product3",
      "label":"Product"
    },
    {
      "type":"text",
      "id":"product_tag3",
      "label":"Product Tag"
    },
    {
      "type":"header",
      "content": "Product Card Settings"
    },
     {
      "type": "select",
      "id": "image_ratio",
      "label": "Image aspect ratio",
      "options": [
        {
          "value": "natural",
          "label": "Natural"
        },
        {
          "value": "fill",
          "label": "Fill"
        },
        {
          "value": "1.77",
          "label": "Landscape"
        },
        {
          "value": "1",
          "label": "Square"
        },
        {
          "value": "0.75",
          "label": "Portrait"
        }
      ],
      "default": "fill"
},
    {
      "type": "select",
      "id": "color_scheme",
      "label": "Color scheme",
      "options": [
        {
          "value": "none",
          "label": "Default"
        },
        {
          "value": "1",
          "label": "Scheme 1"
        },
        {
          "value": "2",
          "label": "Scheme 2"
        },
        {
          "value": "3",
          "label": "Scheme 3"
        }
      ],
      "default": "1"
    },
    {
      "type":"checkbox",
      "id":"enable_vendor",
      "label": "Enable Vendor"
    },
    {
      "type":"checkbox",
      "id":"enable_tag",
      "label": "Enable Tag"
    },
    {
      "type":"checkbox",
      "id":"enable_show_modal_btn",
      "label":"Enable Show Modal Button"
    },
    {
      "type":"text",
      "id":"btn_label",
      "label":"Card Button Label"
    },
    {
      "type": "header",
      "content": "Product Suggextion (Quiz)"
    },

    {
      "type": "checkbox",
      "id":"show_card",
      "label":"Show Card",
      "default":true
    },
    {
      "type":"image_picker",
      "id":"sugg_image",
      "label": "Background Image"
    },
    {
      "type":"text",
      "id":"sugg_heading",
      "label": "Heading"
    },
    {
      "type":"richtext",
      "id":"sugg_content",
      "label": "Content"
    },
    {
      "type":"text",
      "id":"sugg_btn_label",
      "label": "Button Label"
    },
    {
      "type":"text",
      "id":"sugg_btn_label1",
      "label": "Second Button Label",
      "default":"Give us a call"
    },
    {
      "type":"url",
      "id":"sugg_btn_link",
      "label": "Button Link"
    },
    {
      "type": "text",
      "id": "phone_number",
      "label": "Phone Number",
      "default": "0812345679",
      "info": "Phone number copied when click 'call sales'"
    },
    {
      "type":"checkbox",
      "id":"open_email",
      "label":"Open Email Popup",
      "default":true
    }
  ],
  "presets":[
    {
      "name":"Products Card Section"
    }
  ]
}
{% endschema %}
